.header-con {
    display: flex;
    align-items: center;
    justify-content: space-around;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-con.header-score {
    display: flex;
    flex-direction: column;
}

.header-item {
    width: 15vw;
}

.header-btn {
    padding: 2px 4px;
    font-size: 24px;
}

.header-btn:hover {
    background-color: #f1f1f1;
    color: black;
}
