:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #353535;
  background-image: url('https://images-ext-2.discordapp.net/external/lNGfR1j5sCH_nNN8i_uGw1Mp_dBDVQLlyYlIJ5XWwa8/%3Fw%3D1380%26t%3Dst%3D1702730058~exp%3D1702730658~hmac%3D07942f9ab7f317bfca70ea8dd8c9474b856c86327328c0fdf57d440c50ecfeae/https/img.freepik.com/free-photo/globe-placed-map_23-2147732577.jpg?format=webp&width=883&height=588');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
}

#App {
  flex-grow: 1;
}

/*
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/

