.menu-con {
  background-image: url('https://img.freepik.com/free-photo/desk-with-maps-touristic-items_23-2147732923.jpg?w=996&t=st=1702902104~exp=1702902704~hmac=b57fd371f543b87ad9050fff531898f834c19c2a1feeced8e739aca08800de6a');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  position: absolute;
  height: 98vh;
  width: 99vw;
  max-width: 100%;
  max-height: 100%;
}
